<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>05-11-2024</h2>
        <p>Conductor: Jorge Espinoza</p>
        <p>Pasajero: Jonathan Roa</p>
        <p>Total: $2.500</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>04-11-2024</h2>
        <p>Conductor: Jorge Espinoza</p>
        <p>Pasajero: Martín Henríquez</p>
        <p>Total: $1.000</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>03-11-2024</h2>
        <p>Conductor: Jorge Espinoza</p>
        <p>Pasajero: Nelson Maureira</p>
        <p>Total: $50.000</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>03-11-2024</h2>
        <p>Conductor: Jorge Espinoza</p>
        <p>Pasajero: Daniel Rioseco</p>
        <p>Total: $500</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>04-11-2024</h2>
        <p>Conductor: Jorge Espinoza</p>
        <p>Pasajero: Matías Yefe</p>
        <p>Total: $750</p>
      </ion-label>
    </ion-item>
    </ion-list>
</ion-content>
