<ion-header>
  <ion-toolbar>
    <ion-title>Página No Encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <!-- Icono Animado -->
    <ion-icon name="alert-circle" size="large" color="danger" class="animated-icon"></ion-icon>
    
    <!-- Texto Animado -->
    <h2 class="animated-text">Error 404</h2>
    <p class="animated-text">La página que buscas no existe.</p>
    
    <!-- Botón Animado -->
    <ion-button routerLink="/login" class="animated-button">
      Ir al Inicio
    </ion-button>
  </div>
</ion-content>
